.bike-form h1 {
  color: white;
  text-align: center;
}

.col-form-label, .form-check {
  color: white;
  font-weight: bolder;
}

.form-height {
  line-height: 0.9;
  width: 400px;
}


.btn-outline-primary, .btn-outline-danger {
  background-color: white;
}

.pos-b {
  position: absolute;
  bottom: 44px;
}

abbr {
  display: none;
}

.bike-form {
  background: rgba(255,255,255,0.5);
  margin: auto;
  padding: 20px;
}

input#bike_picture {
    color: white;
}

label.file.optional {
    display: none;
}

label.form-control-label.integer.required {
    display: none;
}
