.flat-form h1 {
  color: white;
}

.form-label, .form-check {
  color: white;
}

.form-height {
  line-height: 0.9;
  width: 400px;
}


.btn-outline-primary, .btn-outline-danger {
  background-color: white;
}

.pos-b {
  position: absolute;
  bottom: 44px;
}
