
<div class="bike-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556375415-8ba5eeff3ba3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">

  <div class="container"> <!-- margin-top-negative -->
    <div class="row mt-4">
      <div class="col-sm-8 col-md-4 mt-4 bike-cards-container" id="card-left">

        <div class="card-container">

          <div class="bike-show-card">
            <h2><%= @bike.name %></h2>
            <p class="bike-show-address"><%= @bike.address %></p>
          </div>

          <div class="bike-show-card">
            <h2>Category</h2>
            <p><%= @bike.category %></p>
          </div>

          <div class="bike-show-card">
            <h2>Price per Day</h2>
            <div style="display: flex">
            <i class="material-icons mr-2">Euro :</i> <div id="price"> <%= @bike.price_per_day %></div>  €
            </div>
          </div>

        </div>

      </div>
      <div class="col-sm-8 col-md-4 mt-4" id="card-middle">

        <div class="card-container">

          <div class="bike-show-card bike-show-card-photo">
            <div class="photo-container">
              <div class="bike-photo" style="background-image: url(https://images0.garmentory.com/images/1530320/xxl/Tokyobike-Bisou---Saffron-20180809192154.jpg?1533842514)">
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-sm-8 col-md-4 mt-4">

        <div class="card-container">
          <div class="bike-show-car">

            <h2>Book this bike !</h2>

            <form action="">
              <div class="bad-form-param input-group mt-3">
                <label class="input-group-addon control-label">From :</label>
                <input type="date" class="form-control" id="begindate" aria-label="Username" aria-describedby="basic-addon1" class="form-control"  >
              </div>
              <div class="bad-form-param input-group mt-3">
                <label class="input-group-addon control-label">To :</label>
                <input type="date" class="form-control" id="enddate" aria-label="Username" aria-describedby="basic-addon1" class="form-control">
              </div>
              <input type="submit" value="Book" class="btn btn-outline-success btn-sm mt-5" style="width: 100%">
            </form>

          </div>
          <div class="bike-show-card pos-b mt-4">

            <h2>Global Price</h2>
            <div class="flex ml-8">
              <div style="display: flex">
                <i class="material-icons mr-2">Euro :</i> <div id="price-final"></div> €
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</div>
