.btn-create-a-bike {
color: white;
padding: 10px;
background-color: #b78a62;
border: none;
width: 150px;
}

.btn-cancel {
color: white;
padding: 10px;
background-color: #444d60;
width: 300px;
box-sizing: content-box;
}

.btn-cancel.hover {
  text-decoration: none
}
