
a.btn.btn_edit {
  background: #82885D;
  color: white;
}

a.btn.btn_delete {
  background: #8C301D;
  color: white;
}

a.btn.btn_review {
  background: #74a1bb;
  color: white;
}

.booking-banner
  {
  padding: 40px 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
  }

.table-responsive-sm {
  background-color: rgba(250, 250, 250, .7);
  margin: 40px;
  padding: 4px 0;
}

// .table th {
//   }

// .table td {
//   }

.title {
  margin: 40px;
  color: white;
  font-weight: bold;
}

// .btn-outline-primary, .btn-outline-warning .btn-outline-danger {
//     background-color: white;
// }

